<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Array de Números
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <p align="left">Insira três números:</p><br>

      <ion-item>
        <ion-input type="number" [(ngModel)]="numero01">Primeiro:</ion-input>
        <ion-input type="number" [(ngModel)]="numero02">Segundo:</ion-input>
        <ion-input type="number" [(ngModel)]="numero03">Terceiro:</ion-input>
      </ion-item>

      <div>
        <ion-button (click)="ordemCrescente()">Ordem Crescente</ion-button>
        <ion-button (click)="ordemDecrescente()">Ordem Decrescente</ion-button>
      </div>
      

      <div *ngIf="recebeTresNumeros.length > 0">
        <ion-list>
          <ion-item *ngFor="let numero of recebeTresNumeros">
            {{ numero }}
          </ion-item>
        </ion-list>
        <ion-button (click)="limpar()"> Limpar </ion-button>
      </div>

    </ion-list>

    <ion-button class="floating-button" (click)="navegarPagina()">
      <ion-icon name="return-down-forward-outline"></ion-icon>
    </ion-button>

  </div>
</ion-content>
